@model RentalMVC2010.Models.Unit

@{
    ViewBag.Title = "Edit";
}

<h2>Edit</h2>

<script src="@Url.Content("~/Scripts/jquery.validate.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")" type="text/javascript"></script>

@using (Html.BeginForm()) {
    @Html.ValidationSummary(true)
    <fieldset>
        <legend>Unit</legend>

        @Html.HiddenFor(model => model.UnitId)

        <div class="editor-label">
            @Html.LabelFor(model => model.Address)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Address)
            @Html.ValidationMessageFor(model => model.Address)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.City)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.City)
            @Html.ValidationMessageFor(model => model.City)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.State)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.State)
            @Html.ValidationMessageFor(model => model.State)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Bed)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Bed)
            @Html.ValidationMessageFor(model => model.Bed)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Bathroom)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Bathroom)
            @Html.ValidationMessageFor(model => model.Bathroom)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.SquareFoot)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.SquareFoot)
            @Html.ValidationMessageFor(model => model.SquareFoot)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.YearBuilt)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.YearBuilt)
            @Html.ValidationMessageFor(model => model.YearBuilt)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Description)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Description)
            @Html.ValidationMessageFor(model => model.Description)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.PrimaryImagePath)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.PrimaryImagePath)
            @Html.ValidationMessageFor(model => model.PrimaryImagePath)
        </div>

        <p>
            <input type="submit" value="Save" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
